<%- layout('layouts/boilerplate') %>

    <div class="row">
        <div class="col-8 offset-2">
            <br><br>
            <h3>Register as new Admin</h3>
            <form action="/register/admin" method="POST" novalidate class="needs-validation">
                <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <input type="text" name="admin[name]" class="form-control" placeholder="Add your name here"
                        required>
                    <div class="valid-feedback">Looks Good!</div>
                    <div class="invalid-feedback">Enter the name!</div>
                </div>
                <div class="mb-3">
                    <label for="ngoName" class="form-label">NGO Name:</label>
                    <input type="text" name="admin[ngoName]" class="form-control" placeholder="Add your NGO name"
                        required>
                    <div class="valid-feedback">Looks Good!</div>
                    <div class="invalid-feedback">NGO name required!</div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location:</label>
                    <input type="text" name="admin[location]" class="form-control" placeholder="Add your location"
                        required>
                    <div class="valid-feedback">Looks Good!</div>
                    <div class="invalid-feedback">Location is must!</div>
                </div>
                <br>
                <button class="btn btn-dark add-btn">Register</button>
                <br><br>
        </div>
        </form>
    </div>
    </div>
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
        })()
    </script>