<%- layout('layouts/boilerplate') %>

    <h1>Register As?</h1>

    <form action="/register/admin" method="GET">
        <button>Admin</button>
    </form>
    <form action="/register/donor" method="GET">
        <button>Donor</button>
    </form>
    <form action="/register/volunteer" method="GET">
        <button>Volunteer</button>
    </form>